body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}


.nav-link {
  color: #fff;
  margin-right: 15px;
}

.form-group {
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-secondary {
  background-color: #6c757d;
}






